/* ******************************
 * FILENAME: main.css                         
 * LOCATION: ./layouts/main/
* *******************************/
/* //////////////////////////////////////////////// */

/* Main component wrapper */
.layoutMain {
  margin: 0 auto;
  max-width: var(--page-width);
  padding: 0px 1.0875rem 1.45rem;
  padding-top: 0;
}
